<form action="/create-artist" method="post">
  <input placeholder="name" type="text" name="name" required>
  <input placeholder="genre" type="text" name="genre" required>
  <input type="submit" value="create">
</form>