<form action="/update-artist/{{_id}}" method="post">
  <input type="text" name="name" value="{{name}}" required>
  <input type="text" name="genre" value="{{genre}}" required>
  <input type="submit" value="update">
</form>