.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #881199;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
