<style>
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }

  img {
    width: 100px;
    height: 100px;
  }

  h1,
  p {
    font-family: Avenir;
  }
</style>


<section>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Tesla_Motors.svg/1200px-Tesla_Motors.svg.png"
    alt="tesla-logo">
  <h1>Elon Musk</h1>
  <p>Hey buddy, please confirm your account</p>
  <a href="{{endpoint}}">Click me</a>
</section>