<div class="columns is-desktop">
  <div class="is-6-desktop is-12-mobile">
    <div class="card">
      <div class="card-image">
        <figure class="image is-12">
          <img style="width: 12rem;" src="{{user.photo}}" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">

          <div class="media-content">
            <p class="title is-4">{{user.name}}</p>
            <p class="subtitle is-6">{{user.email}}</p>
            <p class="subtitle is-6">Credits: {{user.credits}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="is-6-desktop is-12-mobile">
    ...concerts
  </div>

</div>