<h1>Profile</h1>
<br>
<h2>name: {{user.name}}</h2>
<h2>email: {{user.email}}</h2>
{{#if user.slackID}}
iniciaste con slack
{{/if}}
{{#if user.googleID}}
<img src="{{user.image}}" alt="{{user.name}}">
iniciaste con Google
{{/if}}