<form action="/auth/signup" method="post" enctype="multipart/form-data">
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="text" placeholder="Username" name="name">
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="Email" name="email">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="password" placeholder="Password" name="password">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="file is-boxed">
    <label class="file-label">
      <input class="file-input" type="file" name="photo">
      <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">
          Choose a file…
        </span>
      </span>
    </label>
  </div>
  <br>
  <div class="field">
    <p class="control">
      <button class="button is-success">
        Signup
      </button>
    </p>
  </div>
</form>