<section class="home__container">
  <h1>{{TITLE}}</h1>
  <img src="https://301472-922839-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2020/01/kobe-1.jpg" alt="Kobe">
  <button type="button" class="btn btn-warning">In honor to Kobe</button>
</section>