/* body {
  background-color: whitesmoke;
}

nav {
  position: fixed;
  background-color: tomato;
}

#content {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: inline-block;
  position: absolute;
  top: 90px;
  left: 90px;
}

#center {
  position: relative;
}

.link {
  color: white;
  text-decoration: none;
}

.link:visited {
  color: white;
}

.link:hover {
  color: rgba(0, 0, 255, 0.2)
} */


.image {
  height: 90px;
  width: 200px;
  background-color: gray;
}

header {
  position: relative;
  width: 100%;
  height: 90px;
}

.header-element {
  position: absolute;
}

#center {
  left: calc(50% - 90px);
}

.right {
  right: 0;
}